#content{
    position: relative;
    text-align: center;
}
.contentButton{
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-right: 750px;
}

.image{
    max-width: 300px;
    max-height: 300px;
}

.button{
    background-color:rgb(92, 78, 60);
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight:bold;
    height: 25px;
    width: 100px;
    padding: 25px 15px;
    text-align: center;
    color: rgb(255, 255, 255);

}

#tabOneContent{
    float: left;
}

#tabTwoContent{
    float: left;
}

#tabThreeContent{
    float: left;
}

#menuOne{
    background-color: white;
    padding: 25px;
    position: relative;
    display: flex;
    justify-content: left;
    height: 500px;
    width: 1000px;
    margin-left: 700px;
}